*{
    box-sizing: border-box;
}


.image{
    width: 350px;
}

@media screen and (max-width:768px){
    .pagename-div{
        width:100%;
        padding: 3px;
        
        margin:5px;
    }
    .image{
        width:200px;
        margin-bottom: 10px;
    }
    .about-content{
        padding: 5px;
    }
}
